# Copy this file to terraform.tfvars and fill in any overrides.
# The ACM certificate ARN has a default value but can be overridden here.

# acm_certificate_arn = "arn:aws:acm:us-east-1:491085381469:certificate/e5d5e470-a8d6-4749-94f9-1a57a9670836"
